.nav {
    height: 40px;
    width: 100%;
    background-color: #0c70cf;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    line-height: 40px;
}

.content {
    display: flex;
}

.input-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    & > div {
        height: 40px;
        margin: 0 10px;
    }
}

.input-file,
.input-btn {
    height: 40px;
    width: 100px;
    background-color: #0c70cf;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
}

.read-table-container {
    width: 50vw;
}

.input-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.output-table-container {
    width: 50vw;
}
.thead {
    background-color: #0c70cf;
    color: white;
    font-weight: bolder;
}

/*************output-table***************/

.output-table {
    width: 80% !important;
    margin-bottom: 20px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
}

.output-table-container {
    width: 50vw;
}
